<h1>Welcome to Admin page</h1>
<a asp-action="CreateCustomer" asp-controller="Customer" class="btn btn-block btn-primary btn-flat">Create a new Customer</a>
<a asp-action="AddApplicationUser" asp-controller="Admin" class="btn btn-block btn-primary btn-flat">Add a new User</a>
<a asp-action="ApplicationUsers" asp-controller="Admin" class="btn btn-block btn-primary btn-flat">View application users</a>
