@model BankWebbApp.ViewModels.AccountViewModel;
@{
    ViewData["Title"] = "Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="callout callout-info">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-12">
                <div class="well details">
                    <div class="col-sm-12">
                        <div class="col-xs-12 col-sm-8">
                            <h2 style="text-decoration:underline;">Account Number: @Model.AccountId</h2>
                            <p><strong>Balance :</strong>@Model.Balance </p>
                        </div>
                        <div id="loadmore">
                            @await Html.PartialAsync("_TransctionPartial", Model)
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

